<!DOCTYPE html>
<html lang="ru">
<head>
{% include 'navbar.html' %}
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container alert alert-dark" role="alert" align="center">
{% if form.errors %}
    <p class="text-danger">Имя пользователя или пароль не верные!</p>
{% endif %}
{% if next %}
    <p class="text-danger">Сюда доступ запрещён!</p>
{% endif %}

<p class="text-monospace small">
Лёха - лепёха, Денис - сосис, Олежка - пелемежка, Дан - обдолбан, Димон - покемон.
<br> а Сашка - молодец!
<br>
{% load static %}<img src="{% static '/img/kisspng-gopnik-drawing-art.png' %}" />

</div>

</body>
</html>