<title>Авторизация</title>
{% extends 'base.html' %}
{% block content %}
<div class="container shadow p-3 mb-5 bg-white rounded">
<div class="alert alert-dark" role="alert" align="center">
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
        <strong>Ошибка авторизации</strong>
        <br>Внимание! Вход на сайт не был произведён. Возможно, Вы ввели неверное имя пользователя или пароль.
    </div>
{% endif %}
<p class="text-monospace small">
Лёха - лепёха, Денис - сосис, Олежка - пелемежка, Дан - обдолбан, Димон - покемон.
<br> а Сашка - молодец!
<br>
{% load static %}<img src="{% static '/img/kisspng-gopnik-drawing-art.png' %}" />

</div>
</div>
{% endblock %}