<title>Список дистрибутивов</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
<p class="text-monospace small">Данная страница позволяет посмотреть список дистрибутивов.<br> Удаление дистрибутива возможно только в том случае, если у Вас имеется соответствующая привилегия.</p>
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-Name' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Name">Название</a>
                {% elif 'Name' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Name">Название</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Name">Название</a>{% endif %}</th>
            <th>
                {% if '-SetID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=SetID">Набор ID</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-SetID">Набор ID</a>{% endif %}</th>
            <th>
                {% if '-Date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Date">Дата</a>
                {% elif 'Date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Date">Дата</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Date">Дата</a>{% endif %}</th>
            <th>
                {% if '-OrganisationID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=OrganisationID">Заказчик</a>
                {% elif 'OrganisationID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-OrganisationID">Заказчик</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=OrganisationID">Заказчик</a>{% endif %}</th>
            <th>
                {% if '-Login' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Login">Логин</a>
                {% elif 'Login' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Login">Логин</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Login">Логин</a>{% endif %}</th>
            <th>
                {% if '-Serial' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Serial">Серийный номер</a>
                {% elif 'Serial' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Serial">Серийный номер</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Serial">Серийный номер</a>{% endif %}</th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="23%"><a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#id{{ item.ID }}">{{ item.Name }}</a></td>
    <div class="modal fade" id="id{{ item.ID }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Информация о дистрибутиве</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="text-monospace">Данная страница позваляет получить детальную информацию о дистрибутиве.</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Название:<p class="font-weight-bold small">{{ item.Name }}</p></li>
    <li class="list-group-item">Набор:<p class="font-weight-bold small">{{ item.SetID.UserFriendlyID }}</p></li>
    <li class="list-group-item">Дата создания:<p class="font-weight-bold small">{{ item.Date|date:'d.m.Y' }}</p></li>
    <li class="list-group-item">Заказчик:<p class="font-weight-bold small">{{ item.OrganisationID }}</p></li>
    <li class="list-group-item">№ комплекта:<p class="font-weight-bold small">{{ item.ComplectNo }}</p></li>
    <li class="list-group-item">Контракт:<p class="font-weight-bold small">{{ item.Contract }}</p></li>
    <li class="list-group-item">Логин:<p class="font-weight-bold small">{{ item.Login }}</p></li>
    <li class="list-group-item">Серийный номер:<p class="font-weight-bold small">{{ item.Serial }}</p></li>
    <li class="list-group-item">Язык:<p class="font-weight-bold small">{{ item.LangID }}</p></li>
    <li class="list-group-item">Носитель:<p class="font-weight-bold small">{{ item.Media }}</p></li>
    <li class="list-group-item">Операционная система:<p class="font-weight-bold small">{{ item.osID }}</p></li>
    <li class="list-group-item">Специальные условия:<p class="font-weight-bold small">{{ item.SpecialCase }}</p></li>
    <li class="list-group-item">Диск сборки:<p class="font-weight-bold small">{{ item.ReleaseDisk }}</p></li>
    <li class="list-group-item">Примечания:<p class="font-weight-bold small">{{ item.Notes }}</p></li><br>
    <li class="list-group-item"><p class="text-center">Ключи (HASP):</p>
<span class="font-weight-normal small">
        <div class="row">
    <div class="col-sm" align="center">
        Дата:
    </div>
     <div class="col-sm" align="center">
      № чипа:
    </div>
     <div class="col-sm" align="center">
      Ограничение:
    </div>
     <div class="col-sm" align="center">
      Лицензий:
    </div>
     <div class="col-sm" align="center">
      Свободен:
    </div>
    <div class="col-sm" align="center">
      Примечания:
    </div>
        </div></span>

{% for haspkey in item.hasprelationship_set.all %}
    <li class="list-group-item">
    <span class="font-weight-bold small">
    <div class="row">
    <div class="col-sm" align="center">
        {{ haspkey.Date|date:'d.m.Y' }}
    </div>
    <div class="col-sm" align="center">
        {{ haspkey.HASPKeyID.ChipNo }}
    </div>
    <div class="col-sm" align="center">
        {{ haspkey.HASPKeyID.TimeLimit|date:'d.m.Y' }}
        </div>
    <div class="col-sm" align="center">
        {% if not haspkey.HASPKeyID.Licenses is None %}
        {{ haspkey.HASPKeyID.Licenses }}
        {% endif %}
        </div>
    <div class="col-sm" align="center">
        {% if not haspkey.HASPKeyID.Free is False %}
        Да
        {% endif %}
        </div>
    <div class="col-sm" align="center">
        {{ haspkey.HASPKeyID.Notes }}
    </div></div>
    </span>
{% endfor %}
    </li><br>
    <li class="list-group-item"><p class="text-center">Ключи (Hardlock):</p>
<span class="font-weight-normal small">
        <div class="row">
    <div class="col-sm" align="center">
        Дата:
    </div>
    <div class="col-sm" align="center">
        Маркер:
    </div>
     <div class="col-sm" align="center">
        № чипа:
     </div>
    <div class="col-sm" align="center">
        Субкод:
    </div>
    <div class="col-sm" align="center">
        Адрес модуля:
    </div>
    <div class="col-sm" align="center">
        Свободен:
    </div>
     <div class="col-sm" align="center">
        Примечания:
     </div>
</span>
{% for hardlock in item.hardlockrelationship_set.all %}
        <li class="list-group-item">
    <span class="font-weight-bold small">
    <div class="row">
    <div class="col-sm" align="center">
        {{ hardlock.Date|date:'d.m.Y' }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.HLKeyID.Mark }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.HLKeyID.ChipNo }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.HLKeyID.Subcode }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.HLKeyID.ModAddr }}
    </div>
    <div class="col-sm" align="center">
        {% if not hardlock.HLKeyID.Free is False %}
        Да
        {% endif %}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.HLKeyID.Notes }}
    </div>
    </div></span>
{% endfor %}
     </li><br>
    <li class="list-group-item"><p class="text-center">Обновления дистрибутива:</p>

<span class="font-weight-normal small">
<div class="row">
    <div class="col-sm" align="center">
        Дистрибутив:
    </div>
    <div class="col-sm" align="center">
        Новый дистрибутив:
    </div>
    <div class="col-sm" align="center">
        Дата обновления:
    </div>
    <div class="col-sm" align="center">
        Кто запросил:
    </div>
    <div class="col-sm" align="center">
        Причина обновления:
    </div>
        <div class="col-sm" align="center">
        Примечания:
    </div>
</span>

{% for update in item.updatedistr_set.all %}
<li class="list-group-item">
<span class="font-weight-bold small">
<div class="row">
<div class="col-sm" align="center">

{{ update.DistribID.Name }}
</div>
<div class="col-sm" align="center">
{{ update.NewDistribID.Name }}
</div>
<div class="col-sm" align="center">
{{ update.Date|date:'d.m.Y' }}
</div>
<div class="col-sm" align="center">
{% if not update.Source is None %}
{{ update.Source }}
{% endif %}
</div>
<div class="col-sm" align="center">
{% if not update.Cause is None %}
{{ update.Cause }}
{% endif %}
</div>
<div class="col-sm" align="center">
{% if not update.Notes is None %}
{{ update.Notes }}
{% endif %}
</div>
</div>
</span>
{% endfor %}
</li>

</ul>
</div>
      <div class="modal-footer">
          <a href="/distrib_update/new_post/"><button type="button" class="btn btn-secondary btn-sm">Добавить обновление</button></a>
        <a href="{% url 'distrib_list_edit_post' pk=item.pk %}"><button type="button" class="btn btn-secondary btn-sm">Редактировать</button></a>
        <a href="/pdf/{{ item.pk }}"><button type="button" class="btn btn-secondary btn-sm">Служебная записка</button></a>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
    </div>
                <td width="7%"><a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#id{{ item.SetID.ID }}">{{ item.SetID.UserFriendlyID }}</a></td>



             <div class="modal fade" id="id{{ item.SetID.ID }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Информация о наборе</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="text-monospace">Данная страница позваляет получить детальную информацию о наборе.</p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: <p class="font-weight-bold small">{{ item.SetID.UserFriendlyID }}</p></li>
    <li class="list-group-item">Дата: <p class="font-weight-bold small">{{ item.SetID.Date|date:'d E Y'  }}</p></li><br>
    <li class="list-group-item"><p class="text-center">Список дистрибутивов:</p>
        <p class="text-monospace small" align="center">По этому набору были созданы следующие дистрибутивы:</p>
        <span class="font-weight-normal small">
        <div class="row">
    <div class="col-sm" align="center">
        Название:
    </div>
    <div class="col-sm" align="center">
        Дата создания:
    </div>
     <div class="col-sm" align="center">
      Заказчик:
    </div>
     <div class="col-sm" align="center">
      Логин:
    </div>
     <div class="col-sm" align="center">
      Серийный номер:
    </div>
        </div></span>

        {% for distr in object_list %}
        {% if item.SetID.UserFriendlyID == distr.SetID.UserFriendlyID %}
     <li class="list-group-item">
    <span class="font-weight-bold small">
    <div class="row">
    <div class="col-sm" align="center">
        {{ distr.Name }}<br>
    </div>
<div class="col-sm" align="center">
{{ distr.Date|date:'d.m.Y' }}
</div>
<div class="col-sm" align="center">
{{ distr.OrganisationID }}
</div>
<div class="col-sm" align="center">
{{ distr.Login }}
</div>
<div class="col-sm" align="center">
{{ distr.Serial }}
</div></div></span></li>
{% endif %}
{% endfor %}
    <br>
<li class="list-group-item"><p class="text-center">Состав набора:</p>
    <b>Типы ЛА</b>
<span class="font-weight-normal small">
        <div class="row">
     <div class="col-sm" align="center">
      Первичные базы:
    </div>
     <div class="col-sm" align="center">
      Расчётные базы:
    </div>
     <div class="col-sm" align="center">
      Дополнительные элементы:
    </div>
        </div></span>

<li class="list-group-item">

    <div class="row">
<div class="col-sm" align="center">
{% for test in item.SetID.typeregsysrelationship_set.all %}
    {% ifchanged test.TypeRegsysID.TypeID.UserName %}<span class="font-weight-bold small">{{ test.TypeRegsysID.TypeID.UserName }}</span><br>{% else %}{% endifchanged %}<span class="font-weight-normal small">{{ test.TypeRegsysID.RegsysID.UserName }}</span><br>
{% endfor %}</div>

<div class="col-sm" align="center">
{% for test in item.SetID.typetasksrelationship_set.all %}
{% ifchanged test.TypeTaskID.TypeID.UserName %}<span class="font-weight-bold small">{{ test.TypeTaskID.TypeID.UserName }}</span><br>{% else %}{% endifchanged %}<span class="font-weight-normal small">{{ test.TypeTaskID.TaskID.SysName }}</span><br>
{% endfor %}</div>

<div class="col-sm" align="center">
{% for test in item.SetID.typemiscrelationship_set.all %}
{% ifchanged test.TypeMiscID.TypeID.UserName %}<span class="font-weight-bold small">{{ test.TypeMiscID.TypeID.UserName }}</span><br>{% else %}{% endifchanged %}<span class="font-weight-normal small">{{ test.TypeMiscID.MiscID.Name }}</span><br>
{% endfor %}</div>

</div></span><br>


          <div class="modal-footer">
        <a href="/edit_set/edit_post/{{ item.SetID.ID }}"><button type="button" class="btn btn-secondary btn-sm">Редактировать</button></a>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </ul></div></div></div></div>



                <td width="10%"><li class="list-group-item list-group-item-action">{{ item.Date|date:'d.m.Y' }}</li></td>
                <td width="20%"><li class="list-group-item list-group-item-action">{{ item.OrganisationID }}<br></li></td>
                <td width="20%"><li class="list-group-item list-group-item-action">{{ item.Login }}</li></td>
                <td width="20%"><li class="list-group-item list-group-item-action">{{ item.Serial }}</li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'distrib_list_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'distrib_list_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}