<title>Дистрибутивы</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>Название</th>
            <th>Набор ID</th>
            <th>Дата</th>
            <th>Заказчик</th>
            <th>Логин</th>
            <th>Серийный номер</th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td><button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#id{{ item.id }}">{{ item.name }}</button></td>
    <div class="modal fade" id="id{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Информация о дистрибутиве</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="text-monospace">Данная страница позваляет получить детальную информацию о дистрибутиве.</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Название:<p class="font-weight-bold">{{ item.name }}</p></li>
    <li class="list-group-item">Набор:<p class="font-weight-bold">{{ item.setid.userfriendlyid }}</p></li>
    <li class="list-group-item">Дата создания:<p class="font-weight-bold">{{ item.date|date:'d.m.Y' }}</p></li>
    <li class="list-group-item">Заказчик:<p class="font-weight-bold">{{ item.organisationid }}</p></li>
    <li class="list-group-item">№ комплекта:<p class="font-weight-bold">{{ item.complectno }}</p></li>
    <li class="list-group-item">Контракт:<p class="font-weight-bold">{{ item.contract }}</p></li>
    <li class="list-group-item">Логин:<p class="font-weight-bold">{{ item.login }}</p></li>
    <li class="list-group-item">Серийный номер:<p class="font-weight-bold">{{ item.serial }}</p></li>
    <li class="list-group-item">Язык:<p class="font-weight-bold">{{ item.langid }}</p></li>
    <li class="list-group-item">Носитель:<p class="font-weight-bold">{{ item.media }}</p></li>
    <li class="list-group-item">Операционная система:<p class="font-weight-bold">{{ item.osid }}</p></li>
    <li class="list-group-item">Специальные условия:<p class="font-weight-bold">{{ item.specialcase }}</p></li>
    <li class="list-group-item">Диск сборки:<p class="font-weight-bold">{{ item.releasedisk }}</p></li>
    <li class="list-group-item">Примечания:<p class="font-weight-bold">{{ item.notes }}</p></li>
    <li class="list-group-item">Ключи (HASP):
    <div class="container">
  <div class="row">
    <div class="col-sm">
      Дата:<br>
{% for haspdate in item.hasprelationship_set.all %}
    <span class="font-weight-bold">{{ haspdate.date|date:'d.m.Y' }}</span><br>
{% endfor %}
    </div>
    <div class="col-sm">
      № чипа:<br>
{% for haspkey in item.hasprelationship_set.all %}
    <span class="font-weight-bold">{{ haspkey.hasp_keys }}</span><br>

{% endfor %}
    </div>
    <div class="col-sm">
      Ограничение:<br>
     {% for limit in item.distribhaspkeys.all %}
     {% if not limit.timelimit is Null %}
         <span class="font-weight-bold">{{ limit.timelimit|date:'d.m.Y' }}</span><br>
     {% endif %}

         {% endfor %}
    </div>
{#    <div class="col-sm">#}
{#      Лицензий:<br>#}
{#     {% for lic in item.distribhaspkeys.all %}#}
{#     {% if not lic.licenses is Null %}#}
{#         <span class="font-weight-bold">{{ lic.licenses }}</span><br>#}
{#     {% endif %}#}
{#         {% endfor %}#}
{#    </div>#}
{#    <div class="col-sm">#}
{#      Свободен:<br>#}
{#     {% for free in item.distribhaspkeys.all %}#}
{#     {% if True in free.free %}#}
{#         <span class="font-weight-bold">{{ free.free }}</span><br>#}
{#     {% endif %}#}
{#         {% endfor %}#}
{#    </div>#}
{#<div class="col-sm">#}
{#      Примечания:<br>#}
{#     {% for notess in item.distribhaspkeys.all %}#}
{#     {% if not notess.notes is Null %}#}
{#         <span class="font-weight-bold">{{ notess.notes }}</span><br>#}
{#     {% endif %}#}
{#         {% endfor %}#}
{#</div>#}
    </div>
</div>
    </li>

    <li class="list-group-item">Ключи (Hardlock):
            <div class="container">
  <div class="row">
    <div class="col-sm">
      Дата:<br>
{% for hardlockdate in item.hardlockrelationship_set.all %}
    <span class="font-weight-bold">{{ hardlockdate.date|date:'d.m.Y' }}</span><br>
{% endfor %}
    </div>
    <div class="col-sm">
      № чипа:<br>
{% for hardlockkey in item.hardlockrelationship_set.all %}
    <span class="font-weight-bold">{{ hardlockkey.hardlock_keys }}</span><br>
{% endfor %}
    </div>
  </div>
</div>
    </li>
</ul>
</div>
      <div class="modal-footer">
        <a href="{% url 'distrib_list_edit_post' pk=item.pk %}"><button type="button" class="btn btn-secondary btn-sm">Редактировать</button></a>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
    </div>
                <td><li class="list-group-item list-group-item-action"><a href="/edit_set/edit_post/{{ item.setid.userfriendlyid }}/" class="badge badge-info">{{ item.setid.userfriendlyid }}</a></li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.date|date:'d.m.Y' }}</li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.organisationid }}</li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.login }}</li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.serial }}</li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'distrib_list_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'distrib_list_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}