<title>Обновления дистрибутивов</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
<p class="text-monospace small">Данная страница содержит информацию об обновлениях дистрибутивов.
    Обновление формируется каждый раз, когда пересобирается существующий дистрибутив, либо на базе существующего дистрибутива создается новый.
</p>
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-DistribID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=DistribID">Дистрибутив</a>
                {% elif 'DistribID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-DistribID">Дистрибутив</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=DistribID">Дистрибутив</a>{% endif %}
            </th>
            <th>
                {% if '-NewDistribID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=NewDistribID">Новый дистрибутив</a>
                {% elif 'NewDistribID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-NewDistribID">Новый дистрибутив</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=NewDistribID">Новый дистрибутив</a>{% endif %}

            </th>
            <th>
                {% if '=-Date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Date">Дата обновления</a>
                {% elif '=Date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Date">Дата обновления</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Date">Дата обновления</a>{% endif %}
            </th>
            <th>
                {% if '=-Source' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Source">Кто затребовал</a>
                {% elif '=Source' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Source">Кто затребовал</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Source">Кто затребовал</a>{% endif %}
            </th>
            <th>
                {% if '=-Cause' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Cause">По какой причине</a>
                {% elif '=Cause' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Cause">По какой причине</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Cause">По какой причине</a>{% endif %}
            </th>
            <th>
                {% if '=-Notes' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Notes">Примечания</a>
                {% elif '=Notes' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Notes">Примечания</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=Notes">Примечания</a>{% endif %}

            </th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="16%"><a href="/distrib_list/edit_post/{{ item.DistribID.ID }}" class="list-group-item list-group-item-action">{{ item.DistribID.Name }}</a></td>
                <td width="16%">
                {% if item.NewDistribID %}<a href="/distrib_list/edit_post/{{ item.NewDistribID.ID }}" class="list-group-item list-group-item-action">{{ item.NewDistribID.Name }}</a>
                {% else %}<li class="list-group-item list-group-item-action">&nbsp;</li>
                {% endif %}
                </td>
                <td width="10%"><li class="list-group-item list-group-item-action">{{ item.Date|date:'d.m.Y' }}</li></td>
                <td width="16%"><li class="list-group-item list-group-item-action">{{ item.Source }}<br></li></td>
                <td width="16%"><li class="list-group-item list-group-item-action">{{ item.Cause }}<br></li></td>
                <td width="26%"><li class="list-group-item list-group-item-action">{{ item.Notes }}<br></li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'distrib_update_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'distrib_update_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}