<title>Список дистрибутивов</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
<p class="text-monospace small">Существующие <code>Дистрибутивы</code>.</p>
    {% ifnotequal user.groups.all.0.name None %}<a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>{% endifnotequal %}
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-name' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=name">Название</a>
                {% elif 'name' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-name">Название</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=name">Название</a>{% endif %}</th>
            <th>
                {% if '-setid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=setid">Набор ID</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-setid">Набор ID</a>{% endif %}</th>
            <th>
                {% if '-date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=date">Дата</a>
                {% elif 'date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-date">Дата</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=date">Дата</a>{% endif %}</th>
            <th>
                {% if '-organisationid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=organisationid">Заказчик</a>
                {% elif 'organisationid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-organisationid">Заказчик</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=organisationid">Заказчик</a>{% endif %}</th>
            <th>
                {% if '-login' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=login">Логин</a>
                {% elif 'login' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-login">Логин</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=login">Логин</a>{% endif %}</th>
            <th>
                {% if '-serial' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=serial">Серийный номер</a>
                {% elif 'serial' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-serial">Серийный номер</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=serial">Серийный номер</a>{% endif %}</th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="23%"><a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#id{{ item.id }}">{{ item.name }}</a></td>
    <div class="modal fade" id="id{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Информация о дистрибутиве</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="text-monospace">Данная страница позваляет получить детальную информацию о дистрибутиве.</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Название:<p class="font-weight-bold small">{{ item.name }}</p></li>
    <li class="list-group-item">Набор:<a href="" style="color: black;; text-decoration: none;" data-dismiss="modal" data-toggle="modal" data-target="#id{{ item.setid.id }}"><p class="font-weight-bold small">{{ item.setid.userfriendlyid }}</p></a></li>
    <li class="list-group-item">Дата создания:<p class="font-weight-bold small">{{ item.date|date:'d.m.Y' }}</p></li>
    <li class="list-group-item">Заказчик:<p class="font-weight-bold small">{{ item.organisationid }}</p></li>
    <li class="list-group-item">№ комплекта:<p class="font-weight-bold small">{{ item.complectno }}</p></li>
    <li class="list-group-item">Контракт:<p class="font-weight-bold small">{{ item.contract }}</p></li>
    <li class="list-group-item">Логин:<p class="font-weight-bold small">{{ item.login }}</p></li>
    <li class="list-group-item">Серийный номер:<p class="font-weight-bold small">{{ item.serial }}</p></li>
    <li class="list-group-item">Язык:<p class="font-weight-bold small">{{ item.langid }}</p></li>
    <li class="list-group-item">Носитель:<p class="font-weight-bold small">{{ item.media }}</p></li>
    <li class="list-group-item">Операционная система:<p class="font-weight-bold small">{{ item.osid }}</p></li>
    <li class="list-group-item">Специальные условия:<p class="font-weight-bold small">{{ item.specialcase }}</p></li>
    <li class="list-group-item">Диск сборки:<p class="font-weight-bold small">{{ item.releasedisk }}</p></li>
    <li class="list-group-item">Примечания:<p class="font-weight-bold small">{{ item.notes }}</p></li><br>
    <li class="list-group-item"><p class="text-center">Ключи (HASP):</p>
<span class="font-weight-normal small">
        <div class="row">
    <div class="col-sm" align="center">
        Дата:
    </div>
     <div class="col-sm" align="center">
      № чипа:
    </div>
     <div class="col-sm" align="center">
      Ограничение:
    </div>
     <div class="col-sm" align="center">
      Лицензий:
    </div>
     <div class="col-sm" align="center">
      Свободен:
    </div>
    <div class="col-sm" align="center">
      Примечания:
    </div>
        </div></span>

{% for haspkey in item.hasprelationship_set.all %}
    <li class="list-group-item">
    <span class="font-weight-bold small">
    <div class="row">
    <div class="col-sm" align="center">
        {{ haspkey.date|date:'d.m.Y' }}
    </div>
    <div class="col-sm" align="center">
        {{ haspkey.haspkeyid.chipno }}
    </div>
    <div class="col-sm" align="center">
        {{ haspkey.haspkeyid.timelimit|date:'d.m.Y' }}
        </div>
    <div class="col-sm" align="center">
        {% if not haspkey.haspkeyid.licenses is None %}
        {{ haspkey.haspkeyid.licenses }}
        {% endif %}
        </div>
    <div class="col-sm" align="center">
        {% if not haspkey.haspkeyid.free is False %}
        Да
        {% endif %}
        </div>
    <div class="col-sm" align="center">
        {{ haspkey.haspkeyid.notes }}
    </div></div>
    </span></li>
{% endfor %}
    <br>
    <li class="list-group-item"><p class="text-center">Ключи (Hardlock):</p>
<span class="font-weight-normal small">
        <div class="row">
    <div class="col-sm" align="center">
        Дата:
    </div>
    <div class="col-sm" align="center">
        Маркер:
    </div>
     <div class="col-sm" align="center">
        № чипа:
     </div>
    <div class="col-sm" align="center">
        Субкод:
    </div>
    <div class="col-sm" align="center">
        Адрес модуля:
    </div>
    <div class="col-sm" align="center">
        Свободен:
    </div>
     <div class="col-sm" align="center">
        Примечания:
     </div>
</span>
{% for hardlock in item.hardlockrelationship_set.all %}
        <li class="list-group-item">
    <span class="font-weight-bold small">
    <div class="row">
    <div class="col-sm" align="center">
        {{ hardlock.date|date:'d.m.Y' }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.hlkeyid.mark }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.hlkeyid.chipno }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.hlkeyid.subcode }}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.hlkeyid.modaddr }}
    </div>
    <div class="col-sm" align="center">
        {% if not hardlock.hlkeyid.free is False %}
        Да
        {% endif %}
    </div>
    <div class="col-sm" align="center">
        {{ hardlock.hlkeyid.notes }}
    </div>
    </div></span></li>
{% endfor %}
     <br>
    <li class="list-group-item"><p class="text-center">Обновления дистрибутива:</p>

<span class="font-weight-normal small">
<div class="row">
    <div class="col-sm" align="center">
        Дистрибутив:
    </div>
    <div class="col-sm" align="center">
        Новый дистрибутив:
    </div>
    <div class="col-sm" align="center">
        Дата обновления:
    </div>
    <div class="col-sm" align="center">
        Кто запросил:
    </div>
    <div class="col-sm" align="center">
        Причина обновления:
    </div>
        <div class="col-sm" align="center">
        Примечания:
    </div>
</span>

{% for update in item.updatedistr_set.all %}
<li class="list-group-item">
<span class="font-weight-bold small">
<div class="row">
<div class="col-sm" align="center">

{{ update.distribid.name }}
</div>
<div class="col-sm" align="center">
{{ update.newdistribid.name }}
</div>
<div class="col-sm" align="center">
{{ update.date|date:'d.m.Y' }}
</div>
<div class="col-sm" align="center">
{% if not update.source is None %}
{{ update.source }}
{% endif %}
</div>
<div class="col-sm" align="center">
{% if not update.cause is None %}
{{ update.cause }}
{% endif %}
</div>
<div class="col-sm" align="center">
{% if not update.notes is None %}
{{ update.notes }}
{% endif %}
</div>
</div>
</span>
</li>
{% endfor %}

</ul>
</div>
      <div class="modal-footer">
          {% ifnotequal user.groups.all.0.name None %}<a href={% url 'distrib_update_new_post' id=item.id %}><button type="button" class="btn btn-secondary btn-sm">Добавить обновление</button></a>
        <a href="{% url 'distrib_list_edit_post' pk=item.pk %}"><button type="button" class="btn btn-secondary btn-sm">Редактировать</button></a>{% endifnotequal %}
        <a href="/pdf/{{ item.pk }}"><button type="button" class="btn btn-secondary btn-sm">Служебная записка</button></a>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
    </div>
                <td width="7%"><a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#id{{ item.setid.id }}">{{ item.setid.userfriendlyid }}</a></td>
             <div class="modal fade" id="id{{ item.setid.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Информация о наборе</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="text-monospace">Данная страница позваляет получить детальную информацию о наборе.</p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: <p class="font-weight-bold small">{{ item.setid.userfriendlyid }}</p></li>
    <li class="list-group-item">Дата: <p class="font-weight-bold small">{{ item.setid.date|date:'d E Y'  }}</p></li><br>
    <li class="list-group-item"><p class="text-center">Список дистрибутивов:</p>
        <p class="text-monospace small" align="center">По этому набору были созданы следующие дистрибутивы:</p>
        <span class="font-weight-normal small">
        <div class="row">
    <div class="col-sm" align="center">
        Название:
    </div>
    <div class="col-sm" align="center">
        Дата создания:
    </div>
     <div class="col-sm" align="center">
      Заказчик:
    </div>
     <div class="col-sm" align="center">
      Логин:
    </div>
     <div class="col-sm" align="center">
      Серийный номер:
    </div>
        </div></span>

        {% for distr in object_list|dictsortreversed:'date' %}
        {% if item.setid.userfriendlyid == distr.setid.userfriendlyid %}
     <li class="list-group-item">
    <span class="font-weight-bold small">
    <div class="row">
    <div class="col-sm" align="center">

        <a href="" data-dismiss="modal" style="color: black;; text-decoration: none;" data-toggle="modal" data-target="#id{{ distr.id }}">{{ distr.name }}</a><br>
    </div>
<div class="col-sm" align="center">
{{ distr.date|date:'d.m.Y' }}
</div>
<div class="col-sm" align="center">
{{ distr.organisationid }}
</div>
<div class="col-sm" align="center">
{{ distr.login }}
</div>
<div class="col-sm" align="center">
{{ distr.serial }}
</div></div></span></li>
{% endif %}
{% endfor %}
    <br>
<li class="list-group-item"><p class="text-center">Состав набора:</p>
<span class="font-weight-normal small">
<div class="row">
     <div class="col-sm" align="center">
      Первичные базы:
    </div>
     <div class="col-sm" align="center">
      Расчётные базы:
    </div>
     <div class="col-sm" align="center">
      Дополнительные элементы:
    </div>
</div></span></li>

<li class="list-group-item">

<div class="row">
<div class="col-sm" align="center">
{% regroup item.setid.typeregsysrelationship_set.all by typeregsysid.typeid.username as fstbase %}
    {% for typeid in fstbase %}<br><span class="font-weight-bold small">{{ typeid.grouper }}</span><br>
        {% for item in typeid.list %}<span class="font-weight-normal small">{{ item.typeregsysid }}</span><br>
    {% endfor %}
{% endfor %}
</div>

<div class="col-sm" align="center">
{% regroup item.setid.typetasksrelationship_set.all by typetaskid.typeid.username as rasbase %}
    {% for typeid in rasbase %}<br><span class="font-weight-bold small">{{ typeid.grouper }}</span><br>
        {% for item in typeid.list %}<span class="font-weight-normal small">{{ item.typetaskid }}</span><br>{% endfor %}
    {% endfor %}
</div>

<div class="col-sm" align="center">
{% regroup item.setid.typemiscrelationship_set.all by typemiscid.typeid.username as dopelement %}
    {% for typeid in dopelement %}<br><span class="font-weight-bold small">{{ typeid.grouper }}</span><br>
        {% for item in typeid.list %}<span class="font-weight-normal small">{{ item.typemiscid }}</span><br>{% endfor %}
    {% endfor %}
</div>
</div></li><br>

<li class="list-group-item">
<span class="font-weight-bold small">
<div class="row">
<div class="col-sm" align="center">
Дополнительные модули ПО:
</div>

<div class="col-sm" align="center">
Системы регистрации:
</div>

<div class="col-sm" align="center">
Устройства сброса:
</div>

<div class="col-sm" align="center">
Драйверы устройств:
</div>

</div></span></li>

<li class="list-group-item">
<span class="font-weight-normal small">
<div class="row">
<div class="col-sm" align="center">
{% for modules in item.setid.modulesrelationship_set.all %}
{{ modules.moduleid.name }}<br>
{% endfor %}
</div>

<div class="col-sm" align="center">
{% for regsys in item.setid.regsystemsrelationship_set.all %}
{{ regsys.regsysid.username }}<br>
{% endfor %}
</div>

<div class="col-sm" align="center">
{% for dropdev in item.setid.drop_devicerelationship_set.all %}
{{ dropdev.deviceid.username }}<br>
{% endfor %}
</div>

<div class="col-sm" align="center">
{% for drivers in item.setid.driversrelationship_set.all %}
{{ drivers.driverid.name }}
{% endfor %}
</div>


</div></span></li>


          <div class="modal-footer">
        {% ifnotequal user.groups.all.0.name None %}<a href={% url 'distrib_list_new_post' id=item.setid.id %}><button type="button" class="btn btn-secondary btn-sm">Добавить дистрибутив</button></a>
        <a href="/edit_set/edit_post/{{ item.setid.id }}"><button type="button" class="btn btn-secondary btn-sm">Редактировать</button></a>{% endifnotequal %}
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </ul></div></div></div></div>



                <td width="10%"><li class="list-group-item list-group-item-action">{{ item.date|date:'d.m.Y' }}</li></td>
                <td width="20%"><li class="list-group-item list-group-item-action">{{ item.organisationid }}<br></li></td>
                <td width="20%"><li class="list-group-item list-group-item-action">{{ item.login }}</li></td>
                <td width="20%"><li class="list-group-item list-group-item-action">{{ item.serial }}</li></td>
                {% ifnotequal user.groups.all.0.name None %}<td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'distrib_list_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'distrib_list_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>{% endifnotequal %}
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}