<title>Редактирование</title>
{% extends 'base.html' %}
{% block content %}
<div class="container shadow p-3 mb-5 bg-white rounded">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
        <h5>Добавление нового набора.</h5><p class="text-monospace small">
        Данная страница позволяет добавить/редактировать набор в базе данных. В дальнейшем этот набор может быть использован для создания одного или нескольких новых дистрибутивов.
<form method="post">
    {% csrf_token %}

        <h5><span class="badge badge-info">ID: {{ post.userfriendlyid }}</span></h5>
        Дата набора:
        {{ form.date }}
<br>
<table class="table table-sm table-borderless form-control-sm">
    <tr align="center">
        <th><h6><li class="list-group-item list-group-item-info">Первичные базы</li></h6></th>
        <th><h6><li class="list-group-item list-group-item-info">Расчётные базы</li></h6></th>
        <th><h6><li class="list-group-item list-group-item-info">Доп. элементы</li></h6></th>
    </tr>
        <td width="33%">
{% regroup form.typeregsystems by data.group as feature_list %}
{% for group in feature_list %}
    <label type="radio" {% for choice in group.list %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapse{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
        <script>var numchkbox=0;{% for choice in group.list %}{% if choice.data.selected %}numchkbox++;{% endif %}{% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}</script></label>
<div class="collapse" id="collapse{{ group.grouper.id }}">{% for choice in group.list %}
   <label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.choice_label }}</label>
  {% endfor %}<br></div>
{% endfor %}
</td>

<td width="33%">
{% regroup form.typetasks by data.group as feature_list %}
{% for group in feature_list %}
    <label type="radio" {% for choice in group.list %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapse{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
        <script>var numchkbox=0;{% for choice in group.list %}{% if choice.data.selected %}numchkbox++;{% endif %}{% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}</script></label>
<div class="collapse" id="collapse{{ group.grouper.id }}">{% for choice in group.list %}
   <label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.choice_label }}</label>
  {% endfor %}<br></div>
{% endfor %}
</td>

<td width="33%">
{% regroup form.typemisc by data.group as feature_list %}
{% for group in feature_list %}
    <label type="radio" {% for choice in group.list %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapse{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
        <script>var numchkbox=0;{% for choice in group.list %}{% if choice.data.selected %}numchkbox++;{% endif %}{% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}</script></label>
<div class="collapse" id="collapse{{ group.grouper.id }}">{% for choice in group.list %}
    <label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.choice_label }}</label>
  {% endfor %}<br></div>
{% endfor %}
</tr>
</td>
</table>

<table>
<td>
<button type="button" {% for choice in form.modules %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#dopmodpo">Долнительные модули ПО
    <script>var numchkbox=0;{% for checkbox in form.modules %}{% if checkbox.data.selected == True %}numchkbox++;{% endif %}
    {% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}
    </script>
</button><br><br>
<div class="modal fade" id="dopmodpo" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Подолнительные модули ПО</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    {% for checkbox in form.modules %}
<label class="btn btn-outline-secondary btn-sm">
 {{ checkbox.tag }} {{ checkbox.choice_label }}
</label><br>
{% endfor %}      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<button type="button" {% for choice in form.regsystems %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#resys">Системы регистриции
    <script>var numchkbox=0;{% for checkbox in form.regsystems %}{% if checkbox.data.selected == True %}numchkbox++;{% endif %}
    {% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}
    </script>
</button><br><br>
<div class="modal fade" id="resys" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Системы регистриции</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    {% for checkbox in form.regsystems %}
    {% if 'False' in checkbox.data.label %}<label class="btn btn-outline-secondary btn-sm">{{ checkbox.tag }} {{ checkbox.data.label|cut:'False' }}</label><br>{% endif %}
{% endfor %}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<button type="button" {% for choice in form.devices %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#dropdev">Устройства сброса
    <script>var numchkbox=0;{% for checkbox in form.devices %}{% if checkbox.data.selected == True %}numchkbox++;{% endif %}
    {% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}
    </script>
</button><br><br>
<div class="modal fade" id="dropdev" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Устройства сброса</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    {% for checkbox in form.devices %}
<label class="btn btn-outline-secondary btn-sm">
    {{ checkbox.tag }} {{ checkbox.choice_label }}
</label><br>
{% endfor %}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<button type="button" {% for choice in form.drivers %}{% ifequal choice.data.selected True %}class="btn btn-dark btn-sm"{% endifequal %}{% endfor %} class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#driver">Драйверы устройств
    <script>var numchkbox=0;{% for checkbox in form.drivers %}{% if checkbox.data.selected == True %}numchkbox++;{% endif %}
    {% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-light /">',numchkbox)}
    </script>
</button><br><br>
<div class="collapse" id="driver">{% for checkbox in form.drivers %}
<label class="btn btn-outline-secondary btn-sm">
    {{ checkbox.tag }} {{ checkbox.choice_label }}
</label>
{% endfor %}</div>
</td>


</table>

    <br><br><button type="submit" class="btn btn-danger btn-sm">Сохранить</button>
    <a class="btn btn-dark btn-sm" href="/edit_set" role="button">Отмена</a>
    {% if post.userfriendlyid is not None %}<a href="/clone_set/{{ post.pk }}" role="button" class="btn btn-danger btn-sm">Копировать набор</a>{% endif %}
</form>

</div>
{% endblock %}