<title>Редактирование</title>
{% extends 'base.html' %}
{% block content %}
<div class="offset-3 col-md-6 shadow p-3 mb-5 bg-white rounded">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
{% endif %}
        <h5>Добавление нового набора.</h5><p class="text-monospace small">
        Данная страница позволяет добавить набор в базу данных. В дальнейшем этот набор может быть использован для создания одного или нескольких новых дистрибутивов.
<form method="post">
    {% csrf_token %}

        <h5><span class="badge badge-info">ID: {{ post.UserFriendlyID }}</span></h5>
        Дата набора:
        {{ form.Date }}
<br>
<table class="table table-sm table-borderless form-control-sm">
    <tr>
        <th>Первичные базы:</th>
        <th>Расчётные базы:</th>
        <th>Дополнительные элементы:</th>
    </tr>
        <td width="33%">
{% regroup form.RegsysID by data.group as feature_list %}
{% for group in feature_list %}<h5><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapse{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
    <script>var numchkbox=0;{% for i in group.list %}{% if i.data.selected == True %}numchkbox++;{% endif %}{% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-pill badge-light /">',numchkbox)}</script></button></h5>
{% for choice in group.list %}
    <div class="collapse" id="collapse{{ group.grouper.id }}"><label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.data.label }}</label></div>
  {% endfor %}
{% endfor %}
</td>

<td width="33%">
{% regroup form.TypeTasksID by data.group as feature_list %}
{% for group in feature_list %}
    <h5><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapse{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
        <script>var numchkbox=0;{% for choice in group.list %}{% if choice.data.selected == True %}numchkbox++;{% endif %}{% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-pill badge-light /">',numchkbox)}</script></button></h5>
{% for choice in group.list %}
    <div class="collapse" id="collapse{{ group.grouper.id }}"><label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.choice_label }}</label></div>
  {% endfor %}
{% endfor %}
</td>

<td width="33%">
{% regroup form.TypeMiscID by data.group as feature_list %}
{% for group in feature_list %}
    <h5><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapse{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
        <script>var numchkbox=0;{% for choice in group.list %}{% if choice.data.selected == True %}numchkbox++;{% endif %}{% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-pill badge-light /">',numchkbox)}</script></button></h5>
{% for choice in group.list %}
    <div class="collapse" id="collapse{{ group.grouper.id }}"><label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.choice_label }}</label></div>
  {% endfor %}
{% endfor %}
</tr>
</td>
</table>

<table class="table table-sm form-control-sm">

<td width="100%">
<button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#dopmodpo">Подолнительные модули ПО
    <script>var numchkbox=0;{% for checkbox in form.SetModulesID %}{% if checkbox.data.selected == True %}numchkbox++;{% endif %}
    {% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-pill badge-light /">',numchkbox)}
    </script>
</button><br><br>
{% for checkbox in form.SetModulesID %}
<div class="collapse" id="dopmodpo"><label class="btn btn-outline-secondary btn-sm">
 {{ checkbox.tag }} {{ checkbox.choice_label }}
</label></div>
{% endfor %}

<button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#resys">Системы регистриции
    <script>var numchkbox=0;{% for checkbox in form.RegSysDevicesID %}{% if checkbox.data.selected == True %}numchkbox++;{% endif %}
    {% endfor %}if(numchkbox!=0){document.write('<span class="badge badge-pill badge-light /">',numchkbox)}
    </script>
</button><br><br>
{% for checkbox in form.RegSysDevicesID %}
<div class="collapse" id="resys"><label class="btn btn-outline-secondary btn-sm">
    {{ checkbox.tag }} {{ checkbox.choice_label }}
</label></div>
{% endfor %}
</td>


</table>

    <br><br><button type="submit" class="btn btn-secondary btn-sm">Сохранить</button>
    <a class="btn btn-secondary btn-sm" href="/edit_set" role="button">Отмена</a>
</form>

</div>
{% endblock %}