<title>Список наборов</title>
{% extends 'base.html' %}
{% block content %}
    <div class="container table-responsive-sm shadow-lg p-3 mb-5 bg-white rounded">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
        <p class="text-monospace small">Существующие <code>Наборы</code>.</p>
        {% ifnotequal user.groups.all.0.name None %}<a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>{% endifnotequal %}
        <table class="table table-sm table-borderless form-control-sm">
            <thead>
            <tr align="center">
                <th>
                    {% if '-userfriendlyid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=userfriendlyid">ID</a>
                    {% elif 'userfriendlyid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-userfriendlyid">ID</a>
                    {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=userfriendlyid">ID</a>{% endif %}
                </th>
                <th>
                    {% if '-date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=date">Дата создания</a>
                    {% elif 'date' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-date">Дата создания</a>
                    {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=date">Дата создания</a>{% endif %}
                </th>
                <th></th>
            </tr>
            </thead>

            {% for item in object_list %}
                <tr align="center">
                    <ul class="list-group">
                        <td width="50%">
                            <a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#id{{ item.id }}">{{ item.userfriendlyid }}</a>
                        </td>
                        <td width="50%">
                            <li class="list-group-item list-group-item-action">{{ item.date|date:'d.m.Y' }}</li>
                        </td>
                        {% ifnotequal user.groups.all.0.name None %}<td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'edit_set_edit_post' pk=item.pk %}">Редактировать</a>
        <a class="dropdown-item" href="/clone_set/{{ item.id }}">Копировать набор</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'edit_set_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                        </td>{% endifnotequal %}
                    </ul>
                </tr>


<div class="modal fade" id="id{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Информация о наборе</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="text-monospace">Данная страница позваляет получить детальную информацию о наборе.</p>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: <p class="font-weight-bold small">{{ item.userfriendlyid }}</p></li>
    <li class="list-group-item">Дата: <p class="font-weight-bold small">{{ item.date|date:'d E Y' }}</p></li><br>
    <br>
<li class="list-group-item"><p class="text-center">Состав набора:</p>
<span class="font-weight-normal small">
<div class="row">
     <div class="col-sm" align="center">
      Первичные базы:
    </div>
     <div class="col-sm" align="center">
      Расчётные базы:
    </div>
     <div class="col-sm" align="center">
      Дополнительные элементы:
    </div>
</div></span></li>

<li class="list-group-item">

<div class="row">
<div class="col-sm" align="center">
{#    {% for test in item.typeregsysrelationship_set.all %}#}
{#        {% ifchanged test.typeregsysid.typeid.username %}#}
{#            <label class="btn btn-dark btn-sm" data-toggle="collapse" data-target="#collapse{{ test.typeregsysid.typeid.id }}">#}
{#            {{ test.typeregsysid.typeid.username }}</label><br>#}
{#        {% endifchanged %}#}
{#        <div class="collapse" id="collapse{{ test.typeregsysid.typeid.id }}"><label class="btn btn-outline-secondary btn-sm">{{ test.typeregsysid.regsysid.username }}</label></div>#}
{#    {% endfor %}#}
{% regroup item.typeregsysrelationship_set.all by typeregsysid.typeid.username as fstbase %}
    {% for typeid in fstbase %}<br><span class="font-weight-bold small">{{ typeid.grouper }}</span><br>
        {% for item in typeid.list %}<span class="font-weight-normal small">{{ item.typeregsysid }}</span><br>{% endfor %}
    {% endfor %}
</div>

<div class="col-sm" align="center">
{#    {% for test in item.typetasksrelationship_set.all %}#}
{#        {% ifchanged test.typetaskid.typeid.username %}#}
{#            <label class="btn btn-dark btn-sm" data-toggle="collapse" data-target="#collapse{{ test.typetaskid.typeid.id }}">#}
{#            {{ test.typetaskid.typeid.username }}</label><br>#}
{#        {% endifchanged %}#}
{#        <div class="collapse" id="collapse{{ test.typetaskid.typeid.id }}"><label class="btn btn-outline-secondary btn-sm">{{ test.typetaskid.taskid.sysname }}</label></div>#}
{#    {% endfor %}#}
{% regroup item.typetasksrelationship_set.all by typetaskid.typeid.username as rasbase %}
    {% for typeid in rasbase %}<br><span class="font-weight-bold small">{{ typeid.grouper }}</span><br>
        {% for item in typeid.list %}<span class="font-weight-normal small">{{ item.typetaskid }}</span><br>{% endfor %}
    {% endfor %}
</div>

<div class="col-sm" align="center">
{#    {% for test in item.typemiscrelationship_set.all %}#}
{#        {% ifchanged test.typemiscid.typeid.username %}#}
{#            <label class="btn btn-dark btn-sm" data-toggle="collapse" data-target="#collapse{{ test.typemiscid.typeid.id }}">#}
{#            {{ test.typemiscid.typeid.username }}</label><br>#}
{#        {% endifchanged %}#}
{#        <div class="collapse" id="collapse{{ test.typemiscid.typeid.id }}"><label class="btn btn-outline-secondary btn-sm">{{ test.typemiscid.miscid.name }}</label></div>#}
{#    {% endfor %}#}
{% regroup item.typemiscrelationship_set.all by typemiscid.typeid.username as dopelement %}
    {% for typeid in dopelement %}<br><span class="font-weight-bold small">{{ typeid.grouper }}</span><br>
        {% for item in typeid.list %}<span class="font-weight-normal small">{{ item.typemiscid }}</span><br>{% endfor %}
    {% endfor %}
</div>
</div></li><br>

<li class="list-group-item">
<span class="font-weight-bold small">
<div class="row">
<div class="col-sm" align="center">
Дополнительные модули ПО:
</div>

<div class="col-sm" align="center">
Системы регистрации:
</div>

<div class="col-sm" align="center">
Устройства сброса:
</div>

<div class="col-sm" align="center">
Драйверы устройств:
</div>

</div></span></li>

<li class="list-group-item">
<span class="font-weight-normal small">
<div class="row">
<div class="col-sm" align="center">
{% for modules in item.modulesrelationship_set.all %}
{{ modules.moduleid.name }}<br>
{% endfor %}
</div>

<div class="col-sm" align="center">
{% for regsys in item.regsystemsrelationship_set.all %}
{{ regsys.regsysid.username }}<br>
{% endfor %}
</div>

<div class="col-sm" align="center">
{% for dropdev in item.drop_devicerelationship_set.all %}
{{ dropdev.deviceid.username }}<br>
{% endfor %}
</div>

<div class="col-sm" align="center">
{% for drivers in item.driversrelationship_set.all %}
{{ drivers.driverid.name }}
{% endfor %}
</div>


</div></span></li>


          <div class="modal-footer">
        {% ifnotequal user.groups.all.0.name None %}<a href={% url 'distrib_list_new_post' id=item.id %}><button type="button" class="btn btn-secondary btn-sm">Добавить дистрибутив</button></a>
            <a href="/edit_set/edit_post/{{ item.id }}"><button type="button" class="btn btn-secondary btn-sm">Редактировать</button></a>{% endifnotequal %}
            <a href="/clone_set/{{ item.id }}" role="button" class="btn btn-secondary btn-sm">Копировать набор</a>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Закрыть</button>
      </div>
    </ul></div></div></div></div>





            {% endfor %}
        </table>
        {% include 'paginator.html' %}
    </div>
{% endblock %}