<title>Редактирование</title>
{% extends 'base.html' %}
{% block content %}
<div class="offset-3 col-md-6 shadow p-3 mb-5 bg-white rounded">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
{% endif %}
        <h5>Добавление нового набора.</h5><p class="text-monospace small">
        Данная страница позволяет добавить набор в базу данных. В дальнейшем этот набор может быть использован для создания одного или нескольких новых дистрибутивов.
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <h5><span class="badge badge-info">ID: {{ post.UserFriendlyID }}</span></h5>
        Дата набора:
        {{ form.Date }}


<br>Первичные базы:
{% regroup form.RegsysID by data.group as feature_list %}
{% for group in feature_list %}<h5><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseExample{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }}
    <span class="badge badge-light">{% for i in group.list %}{% if i.data.selected == True %}.{% endif %}{% endfor %}</span></button></h5>


{% regroup employees by skill_level as employees_by_level %}
{% for level in employees_by_level %}
    <tr>
        <td class="level">{{ level.grouper.skill }}</td>
        <td class="count">{{ level.list|length }}</td>
        {% for e in level.list %}
            <td class="race">{{ forloop.counter0 }}</td>
        {% endfor %}
    </tr>
{% endfor %}





{% for choice in group.list %}
    <div class="collapse" id="collapseExample{{ group.grouper.id }}"><label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.data.label }} </label></div>
  {% endfor %}
{% endfor %}

Расчётные базы:
{% regroup form.TypeTasksID by data.group as feature_list %}
{% for group in feature_list %}
    <h5><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseExample{{ group.grouper.id }}">{{ group.grouper|default:"Other Features" }} <span class="badge badge-light">{% for choice in group.list %}{% if choice.data.selected == True %}+{% endif %}{% endfor %}</span></button></h5>
{% for choice in group.list %}
    <div class="collapse" id="collapseExample{{ group.grouper.id }}"><label class="btn btn-outline-secondary btn-sm">{{ choice.tag }} {{ choice.choice_label }}</label></div>
  {% endfor %}
{% endfor %}

    <br><br><button type="submit" class="btn btn-secondary btn-sm">Сохранить</button>
    <a class="btn btn-secondary btn-sm" href="/edit_set" role="button">Отмена</a>
</form>

</div>
{% endblock %}