<title>Устройства сброса</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-SysName' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=SysName">Системное Имя</a>
                {% elif 'SysName' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-SysName">Системное Имя</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-SysName">Системное Имя</a>{% endif %}
            </th>
            <th>
                {% if '-UserName' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=UserName">Пользовательское Имя</a>
                {% elif 'UserName' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-UserName">Пользовательское Имя</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-UserName">Пользовательское Имя</a>{% endif %}
            </th>
            <th>
                {% if '-ISPath' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=ISPath">Путь InstallShield</a>
                {% elif 'ISPath' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-ISPath">Путь InstallShield</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-ISPath">Путь InstallShield</a>{% endif %}
            </th>
            <th>
                {% if '-Description' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Description">Описание</a>
                {% elif 'Description' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Description">Описание</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Description">Описание</a>{% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.SysName }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.UserName }}<br></li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.ISPath }}<br></li></td>
                <td width="55%"><li class="list-group-item list-group-item-action">{% if item.Description is not None %}{{ item.Description }}&nbsp;{% else %}&nbsp;{% endif %}</li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'drop_device_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'drop_device_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}