<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<div class="offset-3 col-md-6">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                <script type="text/javascript">
                    setTimeout(function() {window.location.href="/hasp_keys";}, 2000);
                </script>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% else %}
                <p class="text-monospace small">Данная страница позволяет добавлять/редактировать базу данных ключей аппаратной защиты HASP.
                    Не допускается повторение номера чипа. Если ключ в настоящее время не включен в состав дистрибутива, необходимо для него установить поле <code>"Свободен"</code>.
                    Действительно ли ключ является свободным, определяется прежде всего по его включению в состав дистрибутива. Если ключ входит в состав одного или нескольких дистрибутивов и помечен, как свободный,
                    то это значит, что ключ вернули назад разработчикам.
                    <br>Поле <code>"Ограничение по времени"</code> Заполняется только для ключа HASP Time.
                    <br>Поле <code>"Количество лицензий"</code> заполняется только для ключа NET HASP.</p>
<form method="post">{% csrf_token %}
    <div class="form-group">
    {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-secondary">Сохранить</button>
    <a class="btn btn-secondary" href="/hasp_keys" role="button">Отмена</a>
</form>
    {% endif %}
</div>
</body>
</html>