<title>Ключи аппаратной защиты (HASP)</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <p class="text-monospace small">Существующие <code>Ключи аппаратной защиты (HASP)</code>.</p>
    {% ifnotequal user.groups.all.0.name None %}<a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>{% endifnotequal %}
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-chipno' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=chipno">Номер чипа</a>
                {% elif 'chipno' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-chipno">Номер чипа</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-chipno">Номер чипа</a>{% endif %}
            </th>
            <th>
                {% if '-free' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=free">Свободен</a>
                {% elif 'free' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-free">Свободен</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-free">Свободен</a>{% endif %}
            </th>
            <th>
                {% if '-port' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=port">Порт</a>
                {% elif 'port' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-port">Порт</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-port">Порт</a>{% endif %}
            </th>
            <th>
                {% if '-type' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=type">Тип</a>
                {% elif 'type' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-type">Тип</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-type">Тип</a>{% endif %}
            </th>
            <th>
                {% if '-timelimit' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=timelimit">Ограничение по времени</a>
                {% elif 'timelimit' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-timelimit">Ограничение по времени</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-timelimit">Ограничение по времени</a>{% endif %}
            </th>
            <th>
                {% if '-licenses' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=licenses">Количество лицензий</a>
                {% elif 'licenses' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-licenses">Количество лицензий</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-licenses">Количество лицензий</a>{% endif %}
            </th>
            <th>
                {% if '-notes' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=notes">Примечания</a>
                {% elif 'notes' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-notes">Примечания</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-notes">Примечания</a>{% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="11%"><li class="list-group-item list-group-item-action">{{ item.chipno }}<br></li></td>
                <td width="1%" align="center"><li class="list-group-item list-group-item-action"><div class="custom-control custom-switch"><input disabled type="checkbox" type="checkbox" class="custom-control-input" {% if item.free == True %}checked="checked"{% endif %}><label class="custom-control-label"></label></div></li></td>
                <td width="11%"><li class="list-group-item list-group-item-action">{% if item.port is not None %}{{ item.port }}{% endif %}<br></li></td>
                <td width="11%"><li class="list-group-item list-group-item-action">{% if item.type is not None %}{{ item.type }}{% else %}&nbsp;{% endif %}</li></td>
                <td width="11%"><li class="list-group-item list-group-item-action">{% if item.timelimit == None %}<br>{% else %}{{ item.timelimit|date:'d.m.Y' }}{% endif %}</li></td>
                <td width="11%" align="center"><li class="list-group-item list-group-item-action">{% if item.licenses is not None %}{{ item.licenses }}{% else %}<br>{% endif %}</li></td>
                <td width="34%"><li class="list-group-item list-group-item-action">{{ item.notes }}<br></li></td>
                {% ifnotequal user.groups.all.0.name None %}<td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" Type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'hasp_keys_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'hasp_keys_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>{% endifnotequal %}
            </tr>
        {% endfor %}
    </table>
    {% include 'paginator.html' %}
</div>
{% endblock %}