<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<div class="offset-3 col-md-6">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                <script type="text/javascript">
                    setTimeout(function() {window.location.href="/hasp_keys";}, 2000);
                </script>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% else %}
                <p class="text-monospace small">Данная страница позволяет добавлять/редактировать базу данных ключей аппаратной защиты HASP.
                    Не допускается повторение номера чипа. Если ключ в настоящее время не включен в состав дистрибутива, необходимо для него установить поле "Свободен".
                    Действительно ли ключ является свободным, определяется прежде всего по его включению в состав дистрибутива. Если ключ входит в состав одного или нескольких дистрибутивов и помечен, как свободный,
                    то это значит, что ключ вернули назад разработчикам.
            <br>Поле "Ограничение по времени" Заполняется только для ключа HASP Time.
                <br>Поле "Количество лицензий" заполняется только для ключа NET HASP.</p>
<form method="post">{% csrf_token %}
    <div class="form-group">

        <label for="id_subject">Номер чипа:</label>{{ form.ChipNo }}
<br>
        <label for="id_subject">Ключ свободен?</label>{{ form.Free }}
<br>
        <label for="id_subject">Порт:</label>{{ form.Port }}
<br>
        <label for="id_subject">Тип:</label>{{ form.Type }}
<br>
        <label for="id_subject">Ограничение по времени:</label>{{ form.TimeLimit }}
<br>
        <label for="id_subject">Количество лицензий:</label>{{ form.Licenses }}
<br>
        <label for="id_subject">Примечания:</label>{{ form.Notes }}

    </div>
    <button type="submit" class="btn btn-secondary">Сохранить</button>
    <a class="btn btn-secondary" href="/hasp_keys" role="button">Отмена</a>
</form>
    {% endif %}
</div>
</body>
</html>