<title>Ключи аппаратной защиты (HASP)</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-ChipNo' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=ChipNo">Номер чипа</a>
                {% elif 'ChipNo' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-ChipNo">Номер чипа</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-ChipNo">Номер чипа</a>{% endif %}
            </th>
            <th>
                {% if '-Free' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Free">Свободен</a>
                {% elif 'Free' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Free">Свободен</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Free">Свободен</a>{% endif %}
            </th>
            <th>
                {% if '-Port' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Port">Порт</a>
                {% elif 'Port' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Port">Порт</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Port">Порт</a>{% endif %}
            </th>
            <th>
                {% if '-Type' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Type">Тип</a>
                {% elif 'Type' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Type">Тип</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Type">Тип</a>{% endif %}
            </th>
            <th>
                {% if '-TimeLimit' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=TimeLimit">Ограничение по времени</a>
                {% elif 'TimeLimit' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-TimeLimit">Ограничение по времени</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-TimeLimit">Ограничение по времени</a>{% endif %}
            </th>
            <th>
                {% if '-Licenses' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Licenses">Количество лицензий</a>
                {% elif 'Licenses' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Licenses">Количество лицензий</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Licenses">Количество лицензий</a>{% endif %}
            </th>
            <th>
                {% if '-Notes' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Notes">Примечания</a>
                {% elif 'Notes' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Notes">Примечания</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Notes">Примечания</a>{% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="11%"><li class="list-group-item list-group-item-action">{{ item.ChipNo }}<br></li></td>
                <td width="1%" align="center"><li class="list-group-item list-group-item-action">&nbsp;<input disabled Type="checkbox" {% if item.Free == True %}checked="checked"{% endif %}>&nbsp;</li></td>
                <td width="11%"><li class="list-group-item list-group-item-action">{% if item.Port is not None %}{{ item.Port }}{% endif %}<br></li></td>
                <td width="11%"><li class="list-group-item list-group-item-action">{% if item.Type is not None %}{{ item.Type }}{% else %}&nbsp;{% endif %}</li></td>
                <td width="11%"><li class="list-group-item list-group-item-action">{% if item.TimeLimit == None %}<br>{% else %}{{ item.TimeLimit|date:'d.m.Y' }}{% endif %}</li></td>
                <td width="11%" align="center"><li class="list-group-item list-group-item-action">{% if item.Licenses is not None %}{{ item.Licenses }}{% else %}<br>{% endif %}</li></td>
                <td width="34%"><li class="list-group-item list-group-item-action">{{ item.Notes }}<br></li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" Type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'hasp_keys_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'hasp_keys_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'paginator.html' %}
</div>
{% endblock %}