<title>Редактирование</title>
{% extends 'base.html' %}
{% block content %}
<div class="offset-3 col-md-6 shadow p-3 mb-5 bg-white rounded">
    {% if messages %}
        {% for message in messages %}
            <div align="center" {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
        <p class="text-monospace small">Данная страница позволяет добавлять/редактировать набор языков интерфейса с которым работает ПО СКАТ.
            Каждому языку должен соответствовать код, принятый в InstallShield для этого языка. Пара <code>"Язык - код"</code> должна быть уникальной.
            <br>В колонке <code>"Языковая константа"</code> указывается языковая константа препроцессора InstallShield определяемая в GUI InstallShield <code>Build|Settings|Compile/Link|Preprocessor</code>.</p>
<form method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-secondary">Сохранить</button>
    <a class="btn btn-secondary" href="/tables/lang_types" role="button">Отмена</a>
</form>
</div>
{% endblock %}