<title>Языки</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>Язык</th>
            <th>Код</th>
            <th>Языковая константа</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center"><ul class="list-group">
                <td><li class="list-group-item list-group-item-action">{{ item.Lang }}</li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.LCode }}<br></li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.ISDefine }}<br></li></td>
                <td>
                    <a href="{% url 'lang_types_edit_post' pk=item.pk %}"><button type="submit" class="btn btn-link btn-sm"><img src="{{ STATIC_URL }} /static/glyphicons/png/glyphicons-31-pencil.png"></button></a>
                </td>
                <td>
                    <form action="{% url 'lang_types_delete' item.id %}" method="POST">{%csrf_token%}
                                                 <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><img src="{{ STATIC_URL }} /static/glyphicons/png/glyphicons-17-bin.png"></button>
                        {% include 'modal.html' %}
                    </form>
                </td>
            </ul></tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}