<title>Дополнительные модули ПО</title>
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>Название</th>
            <th>Описание</th>
            <th>Путь InstallShield</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td><li class="list-group-item list-group-item-action">{{ item.name }}</li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.description }}</li></td>
                <td><li class="list-group-item list-group-item-action">{{ item.ispath }}</li></td>
                <td>
                    <a href="{% url 'modules_edit_post' pk=item.pk %}"><button type="submit" class="btn btn-link btn-sm"><img src="{{ STATIC_URL }} /static/glyphicons/png/glyphicons-31-pencil.png"></button></a>
                </td>
                <td>
                    <form action="{% url 'modules_delete' item.pk %}" method="POST">{%csrf_token%}
                                                 <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target=#modal-{{ item.id }}><img src="{{ STATIC_URL }} /static/glyphicons/png/glyphicons-17-bin.png"></button>
                        {% include 'modal.html' %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}