<title>Системы регистрации по типам ЛА</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-typeid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=typeid">Тип ЛА</a>
                {% elif 'typeid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-typeid">Тип ЛА</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-typeid">Тип ЛА</a>{% endif %}
            </th>
            <th>
                {% if '-regsysid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=regsysid">Система регистрации</a>
                {% elif 'regsysid' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-regsysid">Система регистрации</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-regsysid">Система регистрации</a>{% endif %}
            </th>
            <th>
                {% if '-usernameregsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=usernameregsys">Польз.имя ПБ</a>
                {% elif 'usernameregsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-usernameregsys">Польз.имя ПБ</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-usernameregsys">Польз.имя ПБ</a>{% endif %}
            </th>
            <th>
                {% if '-sysnameregsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=sysnameregsys">Системное имя ПБ</a>
                {% elif 'sysnameregsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-sysnameregsys">Системное имя ПБ</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-sysnameregsys">Системное имя ПБ</a>{% endif %}
            </th>
            <th>
                {% if '-ispath' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=ispath">Путь InstallShield</a>
                {% elif 'ispath' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-ispath">Путь InstallShield</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-ispath">Путь InstallShield</a>{% endif %}
            </th>
            <th>
                {% if '-description' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=description">Описание</a>
                {% elif 'description' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-description">Описание</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-description">Описание</a>{% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.typeid.username }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.regsysid.username }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.usernameregsys }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.sysnameregsys }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.ispath }}</li></td>
                <td width="25%"><li class="list-group-item list-group-item-action">{{ item.description }}&nbsp;</li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'typeregsys_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'typeregsys_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}