<title>Системы регистрации по типам ЛА</title>
{% extends 'base.html' %}
{% block content %}
<div class="container table-responsive-sm shadow p-3 mb-5 bg-white rounded">
    <a class="btn btn-secondary" href="new_post/" role="button">Добавить</a><br><br>
    <table class="table table-sm table-borderless form-control-sm">
        <thead>
        <tr align="center">
            <th>
                {% if '-TypeID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=TypeID">Тип ЛА</a>
                {% elif 'TypeID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-TypeID">Тип ЛА</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-TypeID">Тип ЛА</a>{% endif %}
            </th>
            <th>
                {% if '-RegsysID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=RegsysID">Система регистрации</a>
                {% elif 'RegsysID' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-RegsysID">Система регистрации</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-RegsysID">Система регистрации</a>{% endif %}
            </th>
            <th>
                {% if '-UserNameRegsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=UserNameRegsys">Польз.имя ПБ</a>
                {% elif 'UserNameRegsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-UserNameRegsys">Польз.имя ПБ</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-UserNameRegsys">Польз.имя ПБ</a>{% endif %}
            </th>
            <th>
                {% if '-SysNameRegsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=SysNameRegsys">Системное имя ПБ</a>
                {% elif 'SysNameRegsys' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-SysNameRegsys">Системное имя ПБ</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-SysNameRegsys">Системное имя ПБ</a>{% endif %}
            </th>
            <th>
                {% if '-ISPath' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=ISPath">Путь InstallShield</a>
                {% elif 'ISPath' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-ISPath">Путь InstallShield</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-ISPath">Путь InstallShield</a>{% endif %}
            </th>
            <th>
                {% if '-Description' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=Description">Описание</a>
                {% elif 'Description' in request.get_full_path %}<a style="color: black;; text-decoration: none;" href="?order_by=-Description">Описание</a>
                {% else %}<a style="color: black;; text-decoration: none;" href="?order_by=-Description">Описание</a>{% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        {% for item in object_list %}
            <tr align="center">
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.TypeID.UserName }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.RegsysID.UserName }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.UserNameRegsys }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.SysNameRegsys }}</li></td>
                <td width="15%"><li class="list-group-item list-group-item-action">{{ item.ISPath }}</li></td>
                <td width="25%"><li class="list-group-item list-group-item-action">{{ item.Description }}&nbsp;</li></td>
                <td>
    <div class="btn-group" role="group">
    <button id="{{ item.pk }}" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{ STATIC_URL }} /static/glyphicons/png/more.svg" alt="more">
    </button>
      <div class="dropdown-menu" aria-labelledby="{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'typeregsys_edit_post' pk=item.pk %}">Редактировать</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target=#modal-{{ item.pk }}>Удалить</a>
    </div>
        <form action="{% url 'typeregsys_delete' item.pk %}" method="POST">{% csrf_token %}{% include 'modal.html' %}</form>
    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'paginator.html' %}
</div>
{% endblock %}