.pagination > li > a
{
    background-color: white;
    color: #5a5a5a;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5a5a5a !Important;
    border: solid 1px #5a5a5a !Important;
}

.pagination > .active > a:hover
{
    background-color: #5a5a5a !Important;
    border: solid 1px #5a5a5a;
}

.modal-open {
  overflow-y: scroll;
}

.modal
{
    overflow-y: auto !important;
}
