<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    {% include 'navbar.html' %}
    <title>Устройства сброса</title>
</head>
<body>

<div class="container-fluid table-responsive">
    <a href="new_post/"><button type="submit" class="btn btn-secondary btn-sm">Добавить</button></a>
    <br><br>
    <table class="table table-sm table-borderless">
        <thead class="thead-light">
        <tr >
            <th>Системное Имя</th>
            <th>Пользовательское Имя</th>
            <th>Путь InstallShield</th>
            <th>Описание</th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        {% for item in object_list %}
            <tr>
                <th><a href="#" class="list-group-item list-group-item-action">{{ item.SysName }}</a></th>
                <th><a href="#" class="list-group-item list-group-item-action">{{ item.UserName }}</a></th>
                <th><a href="#" class="list-group-item list-group-item-action">{{ item.ISPath }}</a></th>
                <th><a href="#" class="list-group-item list-group-item-action">{{ item.Description }}</a></th>
                <th>
                        <a href="{% url 'edit_post' pk=item.pk %}"><button type="submit" class="btn btn-secondary btn-sm">Изменить</button></a>
                </th>
                <th>
                    <form action="{% url 'delete' item.id %}" method="POST">{%csrf_token%}
                        <a href="."><button type="submit" class="btn btn-secondary btn-sm">Удалить</button></a>
                    </form>

                </th>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>