<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    {% include 'navbar.html' %}
    <title>Устройства сброса</title>
</head>
<body>
<div class="container-fluid">
    <table class="table table-sm table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Системное Имя</th>
            <th scope="col">Пользовательское Имя</th>
            <th scope="col">Путь InstallShield</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for b in object_list %}
            <tr>
            <div class="list-group">
                <td><a href="#" class="list-group-item list-group-item-action">{{ b.SysName }}</a></td>
                <td><a href="#" class="list-group-item list-group-item-action">{{ b.UserName }}</a></td>
                <td><a href="#" class="list-group-item list-group-item-action">{{ b.ISPath }}</a></td>
                <td><a href="#" class="list-group-item list-group-item-action">{{ b.Description }}</a></td>
                <td>
                    <form action="{% url 'delete' b.id %}" method="POST">{%csrf_token%}
                            <a href="." class="list-group-item list-group-item-action"><button type="submit" class="btn btn-secondary btn-sm">Удалить</button></a>
                    </form>
                </td>
            </div>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>