<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<div class="offset-3 col-md-6">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                <script type="text/javascript">
                    setTimeout(function() {window.location.href="/executable_paths";}, 2000);
                </script>
            <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% else %}
<p class="text-monospace small">На этой странице следует указать исполняемые модули дистрибутива и их соответствие путям компонентов InstallShield,
        источник откуда брать файлы для шифрования. Допускается наличие для одного исполняемого модуля нескольких путей InstallShield
<form method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-secondary btn-sm">Сохранить</button>
    <a href="/executable_paths"><button type="button" class="btn btn-secondary btn-sm">Отмена</button></a>
</form>
    {% endif %}
</div>
</body>
</html>