<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% include 'navbar.html' %}
    <title>База данных по дистрибутивам</title>
</head>
<body>
<div class="container">
    <p class="text-monospace">Домашняя страница
    <br>Версия Alpha 0.1.2.0
        <br>Учётная запись: {{ user.username }}
        <br>Уровень доступа:
        <br><br>Для работы с базой данных выберите пункт
    </p>
    <br><div class="alert alert-dark" role="alert" align="center">
    <h7>Операции по базе данных</h7>
    </div>
    <div class="row" align="center">
        <div class="col"><span class="badge badge-pill badge-dark">Просмотр и изменение</span></div>
        <div class="col"><span class="badge badge-pill badge-dark">Создание</span></div>
    </div>
    <div class="row" align="center">
  <div class="col">
      <a href="#" class="badge badge-light">Наборы</a>
      <br><a href="#" class="badge badge-light">Дистрибутивы</a>
      <br><a href="#" class="badge badge-light">Обновления дистрибутивов</a>
  </div>
  <div class="col">
      <a href="#" class="badge badge-light">Добавление нового набора</a>
      <br><a href="#" class="badge badge-light">Добавление нового дистрибутива</a>
  </div>
</div>
</div>
</body>
</html>