<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
{% include 'navbar.html' %}
<title>База данных по дистрибутивам</title>
</head>
<body>
<div class="container">
<p class="text-monospace">Домашняя страница
<br>Версия Alpha 0.6.2.0
<br>Учётная запись: {{ user.username }}
<br>Уровень доступа:
<br><br>Для работы с базой данных выберите пункт
</p>
<br><div class="alert alert-dark" role="alert" align="center">
<h7>Операции по базе данных</h7>
</div>
<div class="row" align="center">
<div class="col">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" align="center">
<div class="btn-group" role="group">
<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Просмотр и изменение
</button>
<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
<a class="dropdown-item" href="#">Наборы</a>
<a class="dropdown-item" href="#">Дистрибутивы</a>
<a class="dropdown-item" href="#">Обновления дистрибутивов</a>
</div>
</div>
</div>
</div>
<div class="col">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" align="center">
<div class="btn-group" role="group">
<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Создание
</button>
<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
<a class="dropdown-item" href="#">Добавление нового набора</a>
<a class="dropdown-item" href="#">Добавление нового дистрибутива</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>