<link rel="stylesheet" href="{{ STATIC_URL }} /static/css/my_style.css">
<ul class="pagination justify-content-center">
{% if object_list.has_previous %}
    <li><a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}&order_by={{ order_by }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
{% endif %}
{% if object_list.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page=1&q={{ request.GET.q }}&order_by={{ order_by }}">1</a></li>
    <li><a class="page-link" href="?page={{ object_list.number|add:'-5' }}&q={{ request.GET.q }}&order_by={{ order_by }}">Назад</a></li>
{% endif %}
{% for i in object_list.paginator.page_range %}
    {% if object_list.number == i %}
        <li class="page-item active"><a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
    {% elif i > object_list.number|add:'-5' and i < object_list.number|add:'5' %}
        <li><a class="page-link" href="?page={{ i }}&q={{ request.GET.q }}&order_by={{ order_by }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}
{% if object_list.paginator.num_pages > object_list.number|add:'4' %}
    <li><a class="page-link" href="?page={{ object_list.number|add:'5' }}&q={{ request.GET.q }}&order_by={{ order_by }}">Далее</a></li>
    <li><a class="page-link" href="?page={{ object_list.paginator.num_pages }}&q={{ request.GET.q }}&order_by={{ order_by }}">{{ object_list.paginator.num_pages }}</a></li>
{% endif %}
{% if object_list.has_next %}
    <li><a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}&order_by={{ order_by }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
{% endif %}
</ul>

