<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'navbar.html' %}
    <title>Таблицы</title>
</head>
<body>
<div class="container">
<div class="row">
  <div class="col">
      <a href="/hardlock_keys" class="badge badge-secondary">Ключи аппаратной защиты (Hardlock)</a>
    <br><a href="/hasp_keys" class="badge badge-secondary">Ключи аппаратной защиты (HASP)</a>
    <br><br><a href="/plane_types" class="badge badge-secondary">Типы ЛА</a>
    <br><br><a href="/lang_types" class="badge badge-secondary">Язык интерфейса</a>
    <br><a href="/os_types" class="badge badge-secondary">Операционная система</a>
  </div>
  <div class="col">
      <a href="/executables" class="badge badge-secondary">Исполняемые модули</a>
      <br><a href="/fas_modules" class="badge badge-secondary">FAS-номера исполняемых модулей</a>
      <br><a href="/executable_paths" class="badge badge-secondary">Пути InstallShield для исполняемых модулей</a>
      <br><br><a href="#" class="badge badge-secondary">Системы регистрации</a>
      <br><a href="#" class="badge badge-secondary">Системы регистрации для типа ЛА</a>
      <br><br><a href="#" class="badge badge-secondary">Базы экспрессов</a>
      <br><a href="#" class="badge badge-secondary">Экспрессы для типа ЛА</a>
      <br><br><a href="#" class="badge badge-secondary">Дополнительные элементы ЛА</a>
      <br><a href="#" class="badge badge-secondary">Дополнительные элементы по типам ЛА</a>
  </div>
  <div class="col">
      <a href="#" class="badge badge-secondary">Организации-заказчики</a>
      <br><br><br><a href="/drop_devices" class="badge badge-secondary">Устройства сброса</a>
      <br><br><a href="#" class="badge badge-secondary">Устройства сброса по Регистраторам</a>
      <br><br><a href="#" class="badge badge-secondary">Дополнительные модули ПО</a>
      <br><br><br><a href="#" class="badge badge-secondary">Драйверы плат сопряжения и прочих устройств</a>
  </div>
</div>

</div>
</body>
</html>
